body {
    margin: 0;
    padding: 50px 0;
   }

.franja{
    position: fixed;
    height: 50px;
    text-align: center;
    line-height: 50px;
    width: 100%;
}

#head{
    top: 0;
    background-color: blue;
}

#pie{
    bottom: 0;
    background-color: red;
}

.div2{
    border: 2px;
    height: 40px;
    position: fixed;
    bottom: -860px;
    width: auto;
    text-align: center;
    color: white;
}