@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

body{
    background-color: antiquewhite;
    overflow: hidden
}

/*-----------ANUNCIS------------*/
/*----------ANUNCI_01-----------*/
div.left {
    margin: top right bottom left;
    width: 15%;
    height: 470px;
    text-align: center;
    background-color: whitesmoke;
    border: 2px solid gray;
    font-weight: bold;
    padding-left: 5px;
    border-radius: 15px;
    
}

#elemento1{/*foto1*/
    margin: 7px auto;
    margin-left: -5px;
    vertical-align: middle;
    border-radius: 10px;
    width: 270px;
    height: 170px;

}


#price1{
    font-weight: bold;
    text-align: left;
    margin-top: -20px;
    margin-left: 15px;
    font-family: 'Spartan', sans-serif;
}

#subtitle1{
    text-align: left;
    font-weight: lighter;
    margin-top: -15px;
    margin-left: 15px;
    font-family: 'Spartan', sans-serif;
}

#descrip1{
    font-weight: lighter;
    color: gray;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Spartan', sans-serif;
}

#boomark1{
    width: 10%;
    left: 115px;
    top: -170px;
    position: relative;
}

#comment1{
    width: 10%;
    right: -70px;
    bottom: -20px;
    position: relative;
}

#like1{
    width: 10%;
    left: -70px;
    bottom: 15px;
    position: relative;
}

/*----------ANUNCI_02-----------*/


div.centro{
    margin-left: 300px;
    margin-top: -473px;
    width: 15%;
    height: 470px;
    text-align: center;
    background-color: whitesmoke;
    border: 2px solid gray;
    font-weight: bold;
    padding-left: 5px;
    border-radius: 15px;
    
}

#elemento2{/*foto2*/
    margin: 7px auto;
    margin-left: -5px;
    vertical-align: middle;
    border-radius: 10px;
    width: 270px;
    height: 170px;

}


#price2{
    font-weight: bold;
    text-align: left;
    margin-top: -20px;
    margin-left: 15px;
    font-family: 'Spartan', sans-serif;
}

#subtitle2{
    text-align: left;
    font-weight: lighter;
    margin-top: -15px;
    margin-left: 15px;
    font-family: 'Spartan', sans-serif;
}

#descrip2{
    font-weight: lighter;
    color: gray;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Spartan', sans-serif;
}

#boomark2{
    width: 10%;
    left: 115px;
    top: -170px;
    position: relative;
}

#comment2{
    width: 10%;
    right: -70px;
    bottom: -20px;
    position: relative;
}

#like2{
    width: 10%;
    left: -70px;
    bottom: 10px;
    position: relative;
}

/*----------ANUNCI_03-----------*/

div.right{
    margin-left: 600px;
    margin-top: -473px;
    width: 15%;
    height: 470px;
    text-align: center;
    background-color: whitesmoke;
    border: 2px solid gray;
    font-weight: bold;
    padding-left: 5px;
    border-radius: 15px;
    
}

#elemento3{/*foto2*/
    margin: 7px auto;
    margin-left: -5px;
    vertical-align: middle;
    border-radius: 10px;
    width: 270px;
    height: 170px;

}


#price3{
    font-weight: bold;
    text-align: left;
    margin-top: -20px;
    margin-left: 15px;
    font-family: 'Spartan', sans-serif;
}

#subtitle3{
    text-align: left;
    font-weight: lighter;
    margin-top: -15px;
    margin-left: 15px;
    font-family: 'Spartan', sans-serif;
}

#descrip3{
    font-weight: lighter;
    color: gray;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Spartan', sans-serif;
}

#boomark3{
    width: 10%;
    left: 115px;
    top: -170px;
    position: relative;
}

#comment3{
    width: 10%;
    right: -70px;
    bottom: auto;
    position: relative;
}

#like3{
    width: 10%;
    left: -70px;
    bottom: 35px;
    position: relative;
}
/*-----------ANUNCIS------------------*/








