@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

        div.caja {
            width: 200px;
            height: 300px;
            background-color: white;
            margin-top: 20px;
            text-align: center;
            line-height: auto;
            color: white;
            border-radius: 10px;
        }

        img.photo {
            width: 95%;
            margin-top: 5px;
            border-radius: 10px;
        }

        .price {
            color: black;
            font-weight: bold;
            text-align: left;
            margin-top: 10px;
            margin-left: 15px;
            font-size: large;
            font-family: 'Spartan', sans-serif;
        }

        .title {
            color: black;
            font-weight: bold;
            text-align: left;
            margin-top: 10px;
            margin-left: 15px;
            font-size: medium;
            font-family: 'Spartan', sans-serif;
        }

        .description{
            color:black;
            text-align: left;
            margin-top: 10px;
            margin-left: 15px;
            font-size: small;
        }